a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.container-class {
    padding: 40px;
    background: #00c89d
}

.inside-form {
    padding: 40px;
    background: #eeeef1;
    border-radius: 12px
}

.login-button {
    width: 300px;
    background: #00c89d
}

.registration-link {
    color: grey
}

.registration-button {
    width: 285px;
    background: #00c89d
}

.footer {
    /*position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #ccc;*/
    width: 100%;
    background-color: #ccc;
    position: relative;
    margin: auto;
    min-height: 100px;
    z-index: 15;
    /*height: 2em;
    position: relative;
    bottom: 0;
    z-index: 1;
    background: #ccc;*/
    /*position: fixed;
    bottom: 0;
    left: 0;*/
}

.footerr {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #ccc;
}

.sebm-google-map-container {
    height: 400px;
    width: 400px;
}